<div class="container mt-3">
    <div class="jumbotron">
        <div class="row">
            <div class="col-sm-4">
                <img src="https://res.cloudinary.com/harshad/image/upload/v1618842691/cbtdlpcuy008oqduppnj.jpg"
                    alt="Harshad Bhandure" class="img-thumbnail">
            </div>
            <div class="col-sm-8">
                <h1 class="display-3">Harshad Bhandure</h1>
                <p class="lead text-info">Web Developer</p>
                <p>Angular 11 | JavaScript | JQuery | SCSS | CSS | Bootstrap</p>
                <p>.Net Core | Web API | Entity Framework | SQL</p>
            </div>
        </div>
        <hr class="my-3">
        <p class="lead">
            <a class="btn btn-outline-success btn-lg" href="#" role="button">Learn more</a>
        </p>
    </div>
</div>